.knobjs-bg {fill: rgba(0,0,0,0);}
.knobjs-arcbg {fill: rgba(0,0,0,0); stroke-width:0.1; stroke: #555;}
.knobjs-arc {fill:#e5e;}

x-knobjs-knob {
  display: inline-block;
  height: 100px;
  width: 100px;
}
